<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>
        // 로그아웃은 내가 가지고 있는 토큰만 쿠키에서 없애기
        function logout() {
            $.removeCookie('mytoken');
            alert('로그아웃!')
            window.location.href = '/login'
        }
    </script>
</head>
<body>
<h5 class="subtitle">생일: {{ birthday }}</h5>
<button onclick="logout()">
    로그아웃
</button>
</body>
</html>